.nav-container {
  .nav-item {
    background-color: lightcoral;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    .nav-links-wrap {
      text-decoration: none;
    }
    .nav-links {
      color: black;
      padding: 2rem;
    }
  }
}
